<!-- views/pages/about.ejs -->
<% extend('../layout') %>

<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>About</h1>
            <p>Welcome to UPM</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
        </div>
    </div>

</div>